/** CUSTOM PROPERTIES**/

:root {
    --primario: #c2185b;
    --secundario: #ffc107;
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
}

.bg-amarilo{
    
}